<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>

        <activity
            android:name="com.example.camera.PreviewViewActivity"
            android:theme="@style/Theme.Xuece_android_network"
            android:exported="false" />
    </application>

</manifest>